# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
.cache/
.cpython/

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Local development settings
.env

# Virtual environment directory
venv/
env/